[Desktop Entry]
Name=Test Granite App
Comment=Testing Archetype Granite
Icon=com.github.kjlaw89.granite
Exec=com.github.kjlaw89.granite
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;
Keywords=app;vala;
